<div style="height:10%; align:center;">

    <!-- As a heading -->
    <nav class="navbar navbar-light bg-dark navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">
          <a style="text-decoration:None;" href="{% url 'list_inven' %}">뚝배기..?</a>
      </span>
        <span class="container" style="margin:0 0 0 40%; width:20%;">
            <span>
                <a href="{% url 'create_inven' %}">상품 등록</a>
            </span>
            <span>
                <a href="{% url 'apply_opponent' %}">거래처 등록</a>
            </span>
            <span>
                <a href="{% url 'list_opponent' %}">거래처 관리</a>
            </span>
        </span>
    </nav>
</div>